.courses-slider {
    padding: 20px;
    max-width: 100%;
    margin: auto;
}

.course-slide {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.course-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.course-slide h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.course-slide p {
    font-size: 14px;
    color: #666;
}
