/* Styling for the overall course list container */
.Development-nav h1{
    font-size: 40px;
    font-weight: 700;
    color: green;
    padding: 30px 10px;
    text-align: center;
    justify-content: center;
    position: relative;

}
Link{
    text-decoration: none;
}

.Development-nav hr{
    width: 300px;
    height: 5px;
    color: orangered;
    background-color: orangered;
    position: absolute;
    top: 80px;
    left: 38%;

}
.course{
    position: relative;
}
